MONGO_URI=
PORT=5000
JWT_SECRET=your_super_secret_jwt_key_here

# Python Command (use 'python3' on Linux, 'python' on Windows)
PYTHON_CMD=python3

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379

# Gridlines / OnGrid – DIN API
ONGRID_API_KEY = ""
ONGRID_AUTH_TYPE = "API-Key"
ONGRID_REFERENCE_ID = ""

# Digitap – GST API (Basic Auth)
DIGITAP_USERNAME = ""
DIGITAP_PASSWORD = ""